[submodule "openzeppelin-contracts"]
	path = openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "yearn-vaults"]
	path = yearn-vaults
	url = https://github.com/yearn/yearn-vaults
